.Detail {
  border: 1px solid gray;
  border-radius: 12px;
  width: 60%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 20px;
}

.Detail .Info p {
  text-align: left;
}

.logo {
  margin-top: 30px;
}

.Detail p {
  font-size: 17px;
}

/* 744px */
@media (max-width: 744px) {
  .Detail {
    border: 1px solid gray;
    border-radius: 12px;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px;
  }
  .Detail img {
    margin: 20px;
  }
}

/* 356px */
@media (max-width: 356px) {
  .Detail .Info p {
    font-size: 14px;
  }
  .Detail img {
    margin: 20px;
  }
  .logo {
    width: 150px;
  }
}
